In [2]:
import pandas as pd

In [3]:
df2 = pd.concat([pd.read_csv('../ppnnw5.csv'), pd.read_csv('../ppnnw6.csv').iloc[:,10:]], axis = 1)

In [4]:
p = df2.iloc[:2862, :]
pi = df2.iloc[2862:5724, :]
n = df2.iloc[5724:6007, :]
n2 = df2.iloc[6007:, :]

In [5]:
df = pd.DataFrame(index= n.iloc[:,10:].columns, columns = [0,1,2,3]).fillna(0)


def whatever(p,pi,n,n2):    
    for c in p.iloc[:,10:].columns:
        r11 = min(p[c])
        r12 = max(p[c])
        r21 = min(pi[c])
        r22 = max(pi[c])
        r31 = min(n[c])
        r32 = max(n[c])
        r41 = min(n2[c])
        r42 = max(n2[c])

        for number in p[c].to_list():
            c1 = 0
            if r21 < number < r22:
                c1+=1
            if r31 < number < r32:
                c1+=1
            if r41 < number < r42:
                c1+=1

            df.loc[c,c1] = df.loc[c,c1] + 1

        for number in pi[c].to_list():
            c1 = 0
            if r11 < number < r12:
                c1+=1
            if r31 < number < r32:
                c1+=1
            if r41 < number < r42:
                c1+=1

            df.loc[c,c1] = df.loc[c,c1] + 1

        for number in n[c].to_list():
            c1 = 0
            if r11 < number < r12:
                c1+=1
            if r21 < number < r22:
                c1+=1
            if r41 < number < r42:
                c1+=1

            df.loc[c,c1] = df.loc[c,c1] + 1

        for number in n2[c].to_list():
            c1 = 0
            if r11 < number < r12:
                c1+=1
            if r21 < number < r22:
                c1+=1
            if r31 < number < r32:
                c1+=1

            df.loc[c,c1] = df.loc[c,c1] + 1
            
            
for i in range(50):
    a = p.loc[p['die'] == 'no'].sample(240)
    b = pi.loc[pi['die'] == 'no'].sample(240)
    c = n.loc[n['die'] == 'no'].sample(240)
    d = n2.loc[n2['die'] == 'no'].sample(240)
    
    whatever(a,b,c,d)
    print('%d remaining.' %(50 - i))

50 remaining.
49 remaining.
48 remaining.

In [35]:
a = []

In [39]:
a = a + (list(df.sort_values(by=[3])[:20].index))

In [40]:
a = a + (list(df.sort_values(by=[0], ascending= [0])[:20].index))

In [41]:
a = a + (list(df.sort_values(by=[1], ascending= [0])[:20].index))

In [45]:
b = [s for s in a if len(s) == 6]

In [46]:
c = [s for s in a if len(s) != 6]

In [51]:
'\', \''.join(c)

"ATCT', 'TCAGA', 'GTGGT', 'AGAT', 'TGGT', 'TCAT', 'CACGC', 'ATCAT', 'GTGT', 'TTGGT', 'ACCA', 'ATGAT', 'GATAT', 'GTGTG', 'AGATA', 'CCAT', 'ACAC', 'TGATC', 'TTGAT', 'TCTGA', 'TCTAG', 'TGATT', 'ATCTG', 'CTGAT', 'TGTCT', 'GATCT', 'TCTGT', 'ATTGT', 'CATCT', 'ATTCT', 'TTGTC', 'ATTGC', 'GATTG', 'GATTT', 'TGACT', 'TCTTG', 'ATTTG', 'AGAT', 'ATCT', 'TCA', 'CGCG', 'GCGT', 'GCGC"

In [44]:
df.sort_values(by=[3], ascending= [1])[:50]

         0    1    2    3
AGAT     5  128  312  515
TCAGA   12   26  275  647
CACGC   12    4  283  661
GTGGT   11   15  267  667
CACGCG   3  113  173  671
ATCTG   25   26  232  677
AAGAT    9    9  265  677
AGATA    6   16  244  694
AGATC   13  153   98  696
GATCA   22  109  120  709
CAGAT   17    4  225  714
TGGT     2   39  202  717
ATCA    15   10  211  724
TCCATA   3   10  221  726
GATC     9  162   59  730
ACCA     5   47  172  736
CACG     2   74  146  738
TTGGT   25    7  186  742
TCTGAT  47   63  104  746
GTGT     5   32  174  749
CCAT     2   18  190  750
TCTGTT   2   18  188  752
ACAC     2   43  162  753
ACGCTA   8   39  159  754
ATGCA   17    5  178  760
TAGA    10   36  154  760
ACCACC   2   64  134  760
GTGTG    7    8  185  760
CGTGGC   2   72  123  763
ATCT     7  123   64  766
CCATG   14   11  169  766
GATCAT   4    8  181  767
AGATT   20    7  165  768
CGTAA   12   13  166  769
AACAGA   3   19  169  769
AAGATA   4   77  109  770
ACGCG    6   12  172  770
ATCTCT  16    8  166  770
ACGCAC   2   11  176  771
CAC      7   64  118  771
CCACT   11    3  174  772
ATC      7   33  147  773
ATCAT   16   40  129  775
TGAT    12   34  138  776
GATCT   51    8  124  777
CACGCT   5  133   45  777
ACGCGT   4  157   22  777
GGTA     4   29  150  777
ATGAT   20   20  138  782
GGTGGT   2   46  129  783

In [20]:
df.sort_values(by=[0,1,2,3], ascending= [0,0,0,0])[:50]

          0    1     2     3
CATAGT  408  327   141  5414
ACTATG  405  331   120  5434
CTA     213   84   521  5472
TAG     170   38   365  5717
CTACAC  148  138  1310  4694
GTGTAG  141   35  1406  4708
AGTAGG  125  103    62  6000
CCTACT  124   97    75  5994
CCCTAC  121  641    63  5465
GTAGGG  119  624    14  5533
CTACTA  115   20   187  5968
TGCTAT  111  204   128  5847
ACCATA  110   89   128  5963
TAC     108  134    38  6010
GTAA    108  100   351  5731
AGGG    107   40    99  6044
CCCT    106   53    97  6034
TGCTAA  104   58   187  5941
TACACA   99  207    11  5973
TATGGT   99   89   107  5995
TAGTAG   98   14   222  5956
TGTGTA   97  208    44  5941
GCTA     95  250   243  5702
ATAGCA   93  248   127  5822
TTAGCA   93   48    65  6084
TACT     92  128   143  5927
AGGGGC   91   24   933  5242
CTAC     90   98   464  5638
GTAG     90   89   420  5691
CTACTG   89   77   358  5766
TACACT   88   72   196  5934
GTA      87  351   112  5740
TTACAC   86   27    47  6130
TGCTAC   84  287    33  5886
CATAAG   83   97   440  5670
TTAC     82  119   334  5755
CATAAC   82   23   249  5936
GCATAG   81   53   510  5646
GTTATG   80   25   300  5885
TAACAC   78  196   528  5488
TAGC     77  312   230  5671
TGGGTC   77  253   407  5553
TACA     76   30    60  6124
G        75  427    68  5720
C        75  427    68  5720
AGTA     74  172   174  5870
CAGTAG   74   83   369  5764
CTATGC   73  187   371  5659
TACAAC   73   12    90  6115
TACGAT   72  390   564  5264

In [56]:
df1 = pd.read_csv('../ppnnw5.csv')[['Gen', 'die']]

In [59]:
a = df1.loc[df1['Gen'] == 'ssRNA(-)']

In [60]:
a.loc[a['die'] == 'no']

           Gen die
5724  ssRNA(-)  no
5725  ssRNA(-)  no
5726  ssRNA(-)  no
5727  ssRNA(-)  no
5728  ssRNA(-)  no
...        ...  ..
5994  ssRNA(-)  no
5997  ssRNA(-)  no
6000  ssRNA(-)  no
6002  ssRNA(-)  no
6003  ssRNA(-)  no

[244 rows x 2 columns]